

body{
    background-color:rgb(133, 22, 22);
    color:rgb(0, 0, 0);
    font: normal 15px calibri, Berlin-Sans_FB, Times, sans-serif;
    line-height:1.5em;
}

h1{
    color:rgba(252, 5, 5, 0.678);
}



#main-header{
    text-align: center;
    color:gold;
    font: bold 30px calibri, Berlin-Sans-FB;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(238, 117, 36);
}

.button{
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1{
    background-color: white;
    color: black;
    border: 2px solid gold;
}

.button1:hover{
    background-color: gold;
    color: white;
    border:2px solid gold;
}